.container-info {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    /* backdrop-filter: blur(10px); */
    background: rgba(0, 0, 0, 0.40);
    color: white !important;
    transform: none !important;
    z-index: 99999999999999999999;
    overflow-y: hidden !important;
    transition: 3s all;
}

.modal {
    background-color: transparent !important;
}

.modal-dialog {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    cursor: auto !important;
    margin: 0px !important;
    background: transparent !important;
}

.modal-content {
    height: 100%;
    background: transparent !important;
}

.modal-backdrop {
    background-color: transparent !important;
}

.modal-container {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.modal-activado {
    filter: blur(8px);
}



.container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-title button {
    background-color: transparent;
    border: none !important;
    cursor: pointer !important;
}

.container-title button svg {
    font-size: 1.8em;
    background-color: transparent;
    filter: contrast(0.1);
}

.text {
    height: 100%;
    display: inline-block;
    max-width: 100%;
    overflow-y: scroll !important;
    padding: 0px;
    margin: 50px;
    color: #c5c5c5;
    text-shadow: 0 0 5px rgb(131 131 131 / 50%);
    line-height: 1.6em;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.text .tittle {
    -webkit-font-smoothing: auto;
    color: #2cddcf;
    font-size: 5em;
    font-weight: 100;
    line-height: 1em;
    margin: 0;
    /* margin-bottom: 0.25em; */
    /* margin-left: -6px; */
}

.container-multimedia {
    width: 100%;
    /* height: 100% !important; */
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container-multimedia .info {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.container-media {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
}

.container-media-slide {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 70px;
}

.media {
    width: 55%;
    overflow: hidden;
}

.media-slide .swiper {
    width: 600px;
    height: 100%;
}

.media,
.img-style {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
    /* box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px; */
    filter: grayscale(0.9);
    transition: transform .5s ease;
}

.media:hover .img-style {
    transform: scale(1.1);
}

.button-form {
    color: #c5c5c5;
    text-decoration: none !important;
}

.button-close {
    filter: invert();
    font-size: 2.5em;
    font-weight: 300;
    text-shadow: 0 0 5px rgb(131 131 131 / 50%);
}

.container-team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 30px;
}

.container-team div {
    width: 300px;
    font-size: 14px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-team h3 {
    font-size: 18px !important;
    line-height: 1.5em !important;
}

.container-team a {
    font-size: 20px !important;
    text-decoration: none;
    color: #c5c5c5;
    text-shadow: 0 0 5px rgb(131 131 131 / 50%);
}

.container-team a:hover {
    text-decoration: none;
    color: #2cddcf;
    text-shadow: 0 0 15px rgb(131 131 131 / 50%);
}

.img-vr {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 1.5em solid transparent;
    padding: 20px;
    background: linear-gradient(45deg, #00000063, transparent);
    filter: grayscale(0.9);
    transition: 1s;
}

.img-vr:hover{
    transition: 1s;
    filter: grayscale(0);
}

@media only screen and (max-width: 700px) {

    .container-team a {
        font-size: 12px;
    }

    .container-team {
        flex-direction: column;
        row-gap: 20px;
    }

    .container-team div {
        align-items: flex-start;
        text-align: left;
    }

    .text {
        margin: 30px;
    }

    .text .tittle {
        font-size: 2em;
    }

    .media {
        width: 100%;
        margin: 30px 0px;
    }

    .container-multimedia {
        width: 100%;
        height: 100% !important;
        flex-direction: column;
        margin: 50px 0px;
    }

    .container-multimedia .info {
        width: 100%;
        row-gap: 30px;
    }

    .caption {
        font-size: 2em;
    }

    .text>h1 {
        font-size: 3em;
    }

    .media-slide .swiper {
        width: 100%;
        height: 100%;
    }

    .img-vr {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .container-team {
        flex-direction: column;
        row-gap: 20px;
    }

    .container-team div {
        align-items: flex-start;
        text-align: left;
    }

    .container-team a {
        font-size: 12px;
    }

    .container-team {
        flex-direction: column;
    }

    .text {
        margin: 30px;
        /*padding: 30px;*/
    }

    .caption {
        font-size: 1em;
    }

    .text .tittle {
        font-size: 2em;
    }

    .text>h1 {
        font-size: 3em;
    }

    .media-slide .swiper {
        width: 100%;
        height: 100%;
    }

    .img-vr {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        padding: 0em;
    }
}